body {
  text-align: center;
  background: #fafafa;
  padding: 1rem;
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}

.App-question {
  padding: 0.5rem;
  font-weight: bold;
}

.App-input {
  width: 240px;
}